<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lcnch-silverlink.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lcnch-silverlink.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>lcnch-silverlink</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$lcnch-silverlink</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:lcnch.database.windows.net,1433;Initial Catalog=SilverLink;User ID=lcnch@lcnch.database.windows.net;Password=h8Y!EYjg#J3N" Name="Data Source=tcp:lcnch.database.windows.net,1433;Initial Catalog=SilverLink;User Id=lcnch@lcnch.database.windows.net;Password=h8Y!EYjg#J3N" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SilverLinkAPI.DAL.ApplicationDbContext, SilverLinkAPI" MigrationConfiguration="SilverLinkAPI.Migrations.Configuration, SilverLinkAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PublishProvider>AzureWebSite</PublishProvider>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lcnch.database.windows.net,1433;Initial Catalog=SilverLink;User Id=lcnch@lcnch.database.windows.net;Password=h8Y!EYjg#J3N</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>